.masthead
  background-color #34495e
  width 30%
  max-height 100%
  text-align center
  position fixed
  top 0
  left 0
  bottom 0
  overflow auto
  padding-top 80px
  -webkit-animation-timing-function linear
  -moz-animation-timing-function linear
  -o-animation-timing-function linear
  animation-timing-function linear
  .header-wrapper
    .line
      display inline-block
      height 3px
      width 30%
      background $white
      margin-top 30px
    .logo
      margin 0
      display inline-block
      width 15.6rem
      height auto
      a
        img
          width 100%
          height 100%
      & + .title
        position initial
    .title
      a
        position relative
        top 50%
        color $white
        img
          width 200px
          border-radius 50%
        h1
          font-size 2.2rem
          margin 1rem 0 0.15rem 0
          text-transform uppercase
          font-weight 900
          padding 0 0.5rem
          color $white
      p
        font-size 1.2rem
        margin 0
        text-transform uppercase
        font-weight 400
        padding 0 0.5rem
        color $white
    .bottom
      margin-top 20px
      .menu
        list-atyle none
        padding 0
        margin 0
        li
          display inline-block
          &:hover
            a
              bottom 8px
          a
            color $white
            font-size 2.4rem
            position relative
            bottom 0
            transition bottom 0.3s ease-in-out
            i.fa-twitter
              color #1da1f2
            i.fa-github
              color #000  
            i.fa-instagram
              color #262626
          &:nth-child(2)
            margin 0 1.7rem
            transition all .2s linear
            &:hover
              color #000

