@media screen and (max-width: 1165px)
  .container
    .post
      .footer-post
        padding 0 1rem

@media screen and (max-width: 960px)
  .masthead
    width 100%
    text-align center
    position initial
    padding 1.8rem 0 1rem 0
    .header-wrapper
      .bottom
        display block
        position relative
        margin-top 2rem
        .menu
          li
            a
              font-size 2.1rem
            &:nth-child(2)
              margin 0 1rem
  .container
    width 100%
    position initial
    .post
      .footer-post
        padding 0 2rem

@media screen and (max-width: 715px)
  .container
    .post
      .footer-post
        text-align center
        .author-post
          display block
          .bio
            width 100%
            .author-name
              margin 6px 0 7px 0
            p
              padding 0 3rem
          .avatar
            float none
            display block
            margin 0 auto
            padding-bottom 10px
        .share
          float none
          margin-top 30px

@media screen and (max-width: 568px)
  html
    font-size 12px
  .container
    .post
      .post-excerpt
        p
          &:last-child
            .more
              padding 0.45rem 1.3rem 0.35rem 1rem
              font-size 0.9rem
              font-weight 900
              i
                top 0.15rem
                font-size 1.4rem

